<div>
  <link rel='stylesheet' href='src/views/edit/edit.css'/>
  <span class='open-edit-btn-ctn'>
    <span>
      <div class="glyphicon glyphicon glyphicon-chevron-up open-edit-btn" ng-click="toggleEditor()"></div>
    </span>
  </span>
  <div ng-if='showEditor'>
    <div id='content-editor' resizable static-id='editor-nav' footer-id="footer-wrapper" scroll-id='scroll-section' ng-if='!failure'>
      <div id='editor-nav'>
        <ul id='editor-tab-ctn' class="nav nav-tabs">
          <li><a ng-click='updateState(CONTENT)' href=''>Content</a></li>
          <li><a ng-click='updateState(DATA)' href=''>Data</a></li>
          <li><a ng-click='updateState(KEYWORD)' href=''>Keywords</a></li>
          <li><a ng-click='updateState(LINK)' href=''>Links</a></li>
          <li><a ng-click='updateState(CSS)' href=''>Css</a></li>
        </ul>
        <span class='collapse-ctn'>
          <span class='collapse-inner-ctn' ng-click="toggleEditor()">
            <div class="glyphicon glyphicon glyphicon-minus"></div>
            <div class="glyphicon glyphicon glyphicon-minus"></div>
            <div class="glyphicon glyphicon glyphicon-chevron-down"></div>
          </span>
        </span>
        <span class='right'>
          <b ng-if='notLoggedIn' class='error'>You must login to save</b>
          <label>Comment</label>
          <input ng-model='comment' type='text'/>
          <button ng-click='save(comment)' ng-disabled='!comment' id='edit-save-btn'>Save</button>
        </span>
      </div>
      <div id='scroll-section'>
        <div ng-show='tab === KEYWORD'>
          <editor id='{{KEYWORD}}-editor' type='{{KEYWORD}}' identifier='keywords' keyword='undefined'></editor>
        </div>
        <div ng-show='tab === DATA'>
          <editor id='{{DATA}}-editor' plain-text='true' hide-code='true' type='{{DATA}}'></editor>
        </div>
        <div ng-show='tab === CONTENT'>
          <editor id='{{CONTENT}}-editor' type='{{CONTENT}}'></editor>
        </div>
        <div id='link-editor' ng-if='tab === LINK'>
          <div class=''>
            <label>Key</label>
            <label> -> </label>
            <label>Link</label>
            <div expandable-repeat='link in links'>
                <input ng-blur='saveLinks()' ng-model='link.key'/>
                 ->
                <input  ng-blur='saveLinks()'ng-model='link.url'/>
            </div>
          </div>
        </div>
        <div ng-show='tab === CSS'>
          <editor id='{{CSS}}-editor' plain-text='true' hide-code='true' type='{{CSS}}'></editor>
        </div>
      </div>
    </div>
  </div>
</div>
