<div>
  <trix-toolbar ng-hide='hideToolbar'>
    <div class="button_groups">
      <span class="button_group text_tools">
        <button type="button" class="bold" data-attribute="bold" data-key="b" title="Bold">Bold</button>
        <button type="button" class="italic" data-attribute="italic" data-key="i" title="Italic">Italic</button>
        <button type="button" class="strike" data-attribute="strike" title="Strikethrough">Strikethrough</button>
        <button type="button" class="link" data-attribute="href" data-action="link" data-key="k" title="Link">Link</button>
      </span>

      <span class="button_group block_tools">
        <button type="button" class="quote" data-attribute="quote" title="Quote">Quote</button>
        <button type="button" ng-hide='hideCode' class="code" data-attribute="code" title="Code">Code</button>
        <button type="button" class="list bullets" data-attribute="bullet" title="Bullets">Bullets</button>
        <button type="button" class="list numbers" data-attribute="number" title="Numbers">Numbers</button>
        <button type="button" class="block-level decrease" data-action="decreaseBlockLevel" title="Decrease Level" disabled="">Decrease Level</button>
        <button type="button" class="block-level increase" data-action="increaseBlockLevel" title="Increase Level" disabled="">Increase Level</button>
      </span>

      <span class="button_group history_tools">
        <button type="button" class="undo" data-action="undo" data-key="z" title="Undo" disabled="">Undo</button>
        <button type="button" class="redo" data-action="redo" data-key="shift+z" title="Redo" disabled="">Redo</button>
      </span>

      <span class='key-input' ng-if='hasIdentifiers'>
        <label>Key</label>
        <input ng-keydown='$event.keyCode === 13 && addKey(selectedKey)' ng-blur='addKey(selectedKey)' type="text" name="first_name" placeholder="Enter Keyword..." list="keys-{{id}}" ng-model='selectedKey'>
        <datalist id="keys-{{id}}">
          <select style="display: none;" id="_select" name="_select">
            <option selected value''></option>
            <option ng-repeat='key in getKeys() track by $index' value='{{key}}'></option>
          </select>
        </datalist>
      </span>
    </div>
    <div class="dialogs">
      <div class="dialog link_dialog" data-attribute="href" data-dialog="href">
        <div class="link_url_fields">
          <input type="url" required="" name="href" placeholder="Enter a URL…" disabled="disabled">
          <div class="button_group">
            <input type="button" value="Link" data-method="setAttribute">
            <input type="button" value="Unlink" data-method="removeAttribute">
          </div>
        </div>
      </div>
    </div>
  </trix-toolbar>
  <button ng-click='focus()'>Focus</button>

  <div class='curr-tab-container'>
  </div>
</div>
